<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="{{ path('app_home') }}"><svg class="o-svg-logo" xmlns="http://www.w3.org/2000/svg" width="208px" height="54px" viewBox="0 0 130.91 115.57">
    <path    class="o-svg-logo__heart" d="M127.38,23.51h0a35.54,35.54,0,0,0-50.11,0l-5,5-5-5a35.54,35.54,0,0,0-50.11,0h0a35.54,35.54,0,0,0,0,50.11L29.07,85.56,47.2,103.69h0l25,25.05,25.06-25.05h0l18.13-18.13,11.94-11.94A35.54,35.54,0,0,0,127.38,23.51Z" transform="translate(-6.8 -13.17)"/>
    <polygon class="o-svg-logo__flash" points="94.12 13.94 53.98 45.29 64.84 45.29 48.9 61.32 58.81 61.32 40.37 83.63 79.91 52.53 68.58 52.4 85.34 36.25 75.69 35.99 94.12 13.94"/>
    <polygon class="o-svg-logo__plus"  points="98.23 28.61 94.77 28.61 94.77 25.15 91.93 25.15 91.93 28.61 88.46 28.61 88.46 31.45 91.93 31.45 91.93 34.92 94.77 34.92 94.77 31.45 98.23 31.45 98.23 28.61"/>
</svg></a>
            </div>
        </li>
        <!--/. Logo -->
        <!--Social-->
        <li>
            <ul class="social">
                <li><a href="https://www.facebook.com/" class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a></li>
                <li><a href="https://www.pinterest.fr/" class="icons-sm pin-ic"><i class="fab fa-pinterest"> </i></a></li>
                <li><a href="https://www.google.com/" class="icons-sm gplus-ic"><i class="fab fa-google-plus-g"> </i></a></li>
                <li><a href="https://twitter.com/login?lang=fr" class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a></li>
            </ul>
        </li>
        <!--/Social-->
        <!--Search Form-->
        <li>
            <form class="search-form" role="search">
                <div class="form-group md-form mt-0 pt-1 waves-light">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-heartbeat"></i> Defibrillators<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('defibrillator_index') }}" class="waves-effect">List</a></li>
                            <li><a href="#" class="waves-effect">Edit</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-wrench"></i> Maintenances<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('maintenance_index') }}" class="waves-effect">List</a></li>
                            <li><a href="#" class="waves-effect">Edit</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-chart-pie"></i> Statistics<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('stats_index') }}" class="waves-effect">Utilizations</a></li>
                            <li><a href="#" class="waves-effect">Maintenance</a></li>
                            <li><a href="#" class="waves-effect">Report</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>
<!--/. Sidebar navigation -->