{% extends './app/home.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('statistics_index') }}
{% endblock %}

{% block javascripts %}
   <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    {{ encore_entry_script_tags('statistics_index') }}
{% endblock %}

{% block body %}
    <!--<div id="chart_div"></div>
     <div id="piechart" style="width: 900px; height: 500px;"></div> -->

{% endblock %}
