{% extends 'base.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_index') }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {{ encore_entry_script_tags('charts') }}
{% endblock %}

{% block body %}

    <div id="chart_div"></div>

{% endblock %}
