{% extends '_layouts/site.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('statistics_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    {{ encore_entry_script_tags('statistics_index') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <!--Card-->
                <div class="card card-cascade wider reverse my-4 pb-5">
                    <!--Card image-->
                    <div id="map" class="streetmap-card overlay wow fadeIn"></div>
                    <!--/.Card image-->
                </div>
                <!--/.Card-->
            </div>
        </div>
        <div class="col">
            <div class="row" id="graph"></div>
        </div>
    </div>
{% endblock %}
