// Sidebar show/hide
#slide-out {
    transition: transform .3s ease-out;
}
#slide-out.is-show {
    transform: translateX(0);
}
#sidebar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 997;
}

// Sidebar accordion show/hide
#slide-out .collapsible-body {
  display: block;
  height: auto;
  max-height: 0;
  transition: max-height .3s ease-out;
  overflow: hidden;
}
#slide-out .collapsible-body.is-show {
    max-height: 100vh;
}