{% extends "base.html.twig" %}


{% block body %}
    {% include '_partials/_header.html.twig' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include '_partials/_footer.html.twig' %}
{% endblock %}
